@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}